<!doctype html>{% load static from staticfiles  %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} | UXM</title>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
        <script src="{% static "js/vendor/modernizr.js" %}"></script>
    </head>
    <body>

        {% if request.user.is_authenticated %}
            <div class="row">
                {% include "menu.html" %}
                <ul class="breadcrumbs">
                    {% block breadcrumbs %}
                        <li><a href="{% url 'cp:index' %}">index</a></li>
                    {% endblock %}
                </ul>
            </div>
        {% endif %}

        <div class="row">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div data-alert class="alert-box {{ message.tags }} radius">
                            {{ message }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% block content %}{% endblock %}
        </div>

        {% block endstatic %}
            <script src="{% static "js/vendor/jquery.js" %}"></script>
            <script src="{% static "js/foundation.min.js" %}"></script>
            <script>
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
</html>

