{% extends "base.html" %}
{% load static from staticfiles  %}
{% load base %}

{% block title %}Index{% endblock %}

{% block endstatic %}
    {{ block.super }}
    <script type="text/javascript" async defer>
        jQuery(".js-confirm-toggle").on("click", function(e){
            var btn = jQuery(this);
            if (confirm("Realy?")){
                console.log(btn);
            } else {
                e.preventDefault();
            }
        });
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="large-12 columns">
            <h1>UXM dashboard</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">

            <table>
                {% for testsetup in testsetups %}

                    {% if forloop.first %}
                    <tr>
                        <td></td>
                        {% for agent in agents %}
                            <th>
                                <a href="{{ agent.get_admin_url }}">{{ agent.name }}</a> <small>{{ agent.get_platform_display }}</small>
                                <br />
                                <a href="{% url 'cp:push_deployed_test' agent.pk %}" class="label tiny">Deploy</a>
                                <!-- <a href="#" class="label tiny">Load</a> -->
                                <a href="{% url 'cp:generate_deployed_test' agent.pk %}" class="label tiny">Generate</a>
                            </th>
                        {% endfor %}
                    {% endif %}
                    </tr>

                    {% ifchanged testsetup.appsetup.environment.name %}
                    <tr>
                        <td>
                        <em><a href="{{ testsetup.appsetup.environment.get_admin_url }}">{{ testsetup.appsetup.environment.name }}<a></em>
                        </td>
                    </tr>
                    {% endifchanged %}
                    {% ifchanged testsetup.appsetup.app.name %}
                    <tr>
                        <td>
                        &nbsp;&nbsp;<strong><a href="{{ testsetup.appsetup.app.get_admin_url }}">{{ testsetup.appsetup.app.name }}</a></strong>
                        </td>
                    </tr>
                    {% endifchanged %}

                    <tr>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ testsetup.test.get_admin_url }}">{{ testsetup.test.name }}</a>&nbsp;
                            <span class="right">
                                <a href="{% url 'cp:toggle_testsetup_enabled' testsetup.pk %}" class="js-confirm-toggle">

                                    {% if not testsetup.test.is_uploaded %}
                                        <span class="label warning" title="test source is not ready (not uploaded from inbox)">N/A</span>
                                    {% endif %}

                                    {% if testsetup.is_enabled %}
                                        <span class="label success">Enabled</span>
                                    {% else %}
                                        <span class="label alert">Disabled</span>
                                    {% endif %}
                                </a>
                                {% if testsetup.is_builded %}
                                    <span class="label tiny secondary" title="TestSetup was build.">build</span>
                                {% else %}
                                    <a href="{% url 'cp:build_test_setup' testsetup.pk %}" class="label tiny">build</a>
                                {% endif %}
                            </span>
                        </td>

                        {% for agent in agents %}
                            <td>
                                {% if testsetup.is_enabled %}
                                    {% get_from_dict matrix testsetup.pk agent.pk as deployedtest %}
                                    {% if deployedtest %}
                                        <a href="{% url 'cp:toggle_deployedtest_enabled' deployedtest.pk  %}" title="" class="js-confirm-toggle">
                                            {% if deployedtest.is_enabled %}
                                                <span class="label success">Enabled</span>
                                            {% else %}
                                                <span class="label alert">Disabled</span>
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <span class="label secondary">Not deployed</span>
                                    {% endif %}
                                {% else %}
                                    <span class="label secondary">&mdash;</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>


                {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}
