<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">UXM</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="#">{{ active_customer }}</a>
                <ul class="dropdown">
                    {% for customer in customers %}
                        <li{% ifequal active_customer.pk customer.pk %} class="active" {% endifequal %}>
                            <a href="{% url 'cp:select_customer' customer.pk %}?next={{ request.path }}">
                                {{ customer }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="divider"></li>
        </ul>

        <ul class="right">
            <li>
                <a href="{% url "logout" %}">Logout</a>
            </li>
        </ul>
    </section>
</nav>
