{% extends "base.html" %}
{% load static from staticfiles  %}
{% load base %}

{% block title %}Index{% endblock %}

{% block endstatic %}
    {{ block.super }}
    <script type="text/javascript" async defer>
        jQuery(".js-confirm-toggle").on("click", function(e){
            var btn = jQuery(this);
            if (confirm("Realy?")){
                console.log(btn);
            } else {
                e.preventDefault();
            }
        });

        var counter = 0;
        var max_heartbeat_call = 500;
        var terminal = jQuery(".js-terminal");

        function tail(){
            jQuery.getJSON(
                "{% url 'cp:push_deployed_test_status' agent.pk %}"
            )
            .done(
                function(json){
                    terminal.html(json["agent"] + "\n");
                    terminal.scrollTop(terminal.height);
                    if (!json["push_done"]){
                        heartbeat();
                    }
            })
            .fail(
                function(jqxhr, textStatus, error) {
                    terminal.html("Request Failed: " + textStatus + "\n");
            })
        }
        function heartbeat(){
            if (counter > max_heartbeat_call){
                terminal.html("Max count of requests exceeded!" + "\n");
            } else {
                setTimeout(tail, 1000)
                counter += 1;
            }
        };
        heartbeat();
    </script>

    <style type="text/css">
        .terminal-wrapper {
            height: 500px;
            overflow-y: scroll;
            padding: 10px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="panel terminal-wrapper">
        <pre class="js-terminal"></pre>
    </div>
{% endblock %}
