{% extends "admin/base_site.html" %}
{% block content %}
    {{ block.super }}

    <h1>Select test suite for test '{{ test.name }}'</h1>

    <table>
        {% for dir in dirs %}
            <tr>
                <td>
                    {{ dir }}
                </td>
                <td>
                    <a href="{% url 'admin:upload_from_inbox' test.id dir %}" class="button" title="{{ dir }}">select</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
