{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="small-6 large-centered columns">
        <h1 style="text-align: center">UXM</h1>
    </div>

    <hr />

    <div class="small-6 large-centered columns">
        <form action="{{ app_path }}" method="post">

            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% if form.non_field_errors %}
                <div class="alert-box alert">
                    {% for err in form.non_field_errors %}{{ err }}{% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="large-4 columns">
                    <label class="inline right" for="id_username">{{ form.username.label }}</label>
                </div>
                <div class="large-8 columns {% if form.username.errors %}error {% endif %}">
                    {{ form.username }}
                    {% for error in form.username.errors %}<small class="error">{{ error }}</small>{% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <label class="inline right" for="id_password">{{ form.password.label }}</label>
                </div>
                <div class="large-8 columns {% if form.password.errors %}error {% endif %}">
                    {{ form.password }}
                    {% for error in form.password.errors %}<small class="error">{{ error }}</small>{% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns"></div>
                <div class="large-8 columns">
                    <input type="submit" class="button" value="Login" />
                </div>
            </div>

        </form>
    </div>

{% endblock %}
